VITE_SUPABASE_URL=https://udifsoairfhcctzqbvyr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkaWZzb2FpcmZoY2N0enFidnlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNDIxMzgsImV4cCI6MjA4OTkxODEzOH0.KPZ70LXEHTBXzoNX5WffcrU00WAWEa3VAawgNHqG0sY
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TERAaLoQKu5SfKiWwBINDbQlfwZJSevfd7JEPs3rdbzQmUWQhmwX0KgLK8TAQa1OWmTNyzxlnzcxLuE5TMBIQ3I009cfd4cUq
VITE_API_URL=http://localhost:5000
VITE_STRIPE_PRICE_MONTHLY=price_1TERDcLoQKu5SfKiVMnT2AdN
VITE_STRIPE_PRICE_YEARLY=price_1TEREyLoQKu5SfKitaraaue8